//begin work-05 (prc-personal.ru)
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/work-05.jpg" alt="Outsourcing company PRC")
    a(href="https://www.prc-personal.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title Outsourcing company "PRC"
    .works-item__date
      +svg('calendar')
      time(datetime='2017-12') december 2017
    a(href="https://www.prc-personal.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span prc-personal.ru
    .works-item__btns
      .works-item__btn html/pug
      .works-item__btn css/scss
      .works-item__btn js
//end work-05 (prc-personal.ru)
