//begin work-07 (timetoact.com.ua)
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/work-07.jpg" alt="Time to Act")
    a(href="http://timetoact.com.ua/ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title Time To Act - job search site
    .works-item__date
      +svg('calendar')
      time(datetime='2019-08') august 2019
    a(href="http://timetoact.com.ua/ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span timetoact.com.ua
    .works-item__btns
      .works-item__btn pug
      .works-item__btn scss
      .works-item__btn js/jquery
//end work-07 (timetoact.com.ua)
