//begin work-10 (altavina.ru)
.works__item.works-item
  .works-item__img
    img(src="assets/img/works/work-10.jpg" alt="Wine Boutique")
    a(href="https://altavina.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__img-more
      +svg('magnific')
      span view site
  .works-item__info
    h3.works-item__title Wine Boutique
    .works-item__date
      +svg('calendar')
      time(datetime='2018-08') august 2018
    a(href="https://altavina.ru/" target="_blank" rel="nofollow noopener noreferrer").works-item__link
      +svg('link')
      span altavina.ru
    .works-item__btns
      .works-item__btn html
      .works-item__btn css
      .works-item__btn js
      .works-item__btn teamwork
//end work-10 (altavina.ru)
