.page-footer {
  transition: .5s;
  border-top: 1px solid $dark;
  background-color: $light;
  &.hide {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: scale(0);
    pointer-events: none;
    opacity: 0;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 48px;
  }
}

.page-footer__more-btn {
  font-family: $font-subtitle;
  font-size: 22px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  transition: color .5s;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $dark;
  &::before {
    position: absolute;
    right: 0;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    margin: auto;
    content: '';
    transition: width .5s;
    background-color: $dark;
  }
  &:hover {
    &::before {
      width: 100%;
    }
  }
}
