//begin article__footer
footer.article__footer.article-footer
  h3.article-footer__title Больше статей тут
  .article-footer__links
    a(href="blog.html").article-footer__link.article-footer__link--odinokun
      +svg('logo')
    a(href="https://t.me/odinokun_channel" target="_blank" rel="nofollow noopener noreferrer").article-footer__link.article-footer__link--telegram
      +svg('telegram')
    a(href="http://odinokun.com/rss.xml" target="_blank" rel="nofollow noopener noreferrer").article-footer__link.article-footer__link--rss
      +svg('rss')
//end article__footer