// ***** main colors *******
$dark: #1e1e1e;
$light: #fdf9f3;
$grey: #808080;

//$highlight: #f1c234;
$highlight: #ffb100;


// ===== fonts =====
$oswald: 'Oswald', cursive; //eng-ru
$roboto: 'Roboto Condensed', sans-serif; //eng-ru

$kaushan: 'Kaushan Script', cursive; //eng (title)
$teko: 'Teko', sans-serif; //eng (my name - index)
