extends ../_template

mixin blog-article(numb, title)
  div(class="blog-article blog-article--" + numb)
    a(href="article.html").blog-article__title-wrap
      h3.blog-article__title #{title}
    .blog-article__descr
      .date
        +svg('calendar')
        time(pubdate datetime='2019-08-27') 2019-08-27
      .blog-article__descr-author
        +svg('writer')
        span John Ronald Reuel Tolkien


    .blog-article__btns
      .blog-article__btn #разработка
      .blog-article__btn #js
      .blog-article__btn #react
      .blog-article__btn #дизайн


block variables
  - var title       = 'Blog | Odinokun.com'
  - var description = 'Blog | Odinokun.com'
  - var ogtitle     = 'Blog | Odinokun.com'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap.works-wrap
    include ../elements/burger
    include ../sections/aside

    //begin content
    section.main.blog
      //begin page-header
      header.page-header
        .container
          h1.page-header__title Blog
      //end page-header

      //begin blog-body
      .page-body
        //begin blog-articles
        .blog-articles
          +blog-article('01', 'Как писать Go-пакеты')
          +blog-article('02', 'Современного учебник JavaScript')
          +blog-article('03', 'Ищем баги в PHP коде без статических анализаторов')
          +blog-article('04', 'Примеры использования некоторых новых возможностей JavaScript')
          +blog-article('05', 'Amazon Prime Day 2019 – Powered by AWS')
          +blog-article('03', 'Ищем баги в PHP коде без статических анализаторов')
          +blog-article('04', 'Примеры использования некоторых новых возможностей JavaScript')
          +blog-article('05', 'Amazon Prime Day 2019 – Powered by AWS')
        //end blog-articles
      //end blog-body

      //-begin page-footer
      //-footer.page-footer#page-footer
        .container
          a(href="#").page-footer__more-btn#page-footer__more-btn more articles...
      //-end page-footer

    //end content
