extends ../_template

block variables
  - var title       = 'Blog | Odinokun.com'
  - var description = 'Blog | Odinokun.com'
  - var ogtitle     = 'Blog | Odinokun.com'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap
    include ../sections/aside

    //begin content
    section.main.blog
      include ../elements/burger

      //begin page-header
      .page-header
        .container
          .page-header__title
            h1.page-header__title.page-title Blog
      //end page-header

      .container
        //begin blog-articles
        .blog__articles
          include ../sections/articles-preview/2019-12-16-risuem-gomera-simpsona-ispolzuya-krugi-v-css
        //end blog-articles
    //end content
