extends ../_template

block variables
  - var title       = 'Blog | Odinokun.com'
  - var description = 'Blog | Odinokun.com'
  - var ogtitle     = 'Blog | Odinokun.com'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap#main-wrap
    include ../sections/aside

    //begin content
    section.main.blog
      include ../elements/burger
      include ../elements/scroll-2-top

      //begin page-header
      .page-header
        .container
          .page-header__title
            h1.page-header__title.page-title Blog
      //end page-header

      .container
        //begin blog-articles
        .blog__articles
          include ../sections/articles-preview/2020-02-27
          include ../sections/articles-preview/2020-02-17
          include ../sections/articles-preview/2020-02-07
          include ../sections/articles-preview/2020-01-28
          include ../sections/articles-preview/2020-01-14
          include ../sections/articles-preview/2020-01-10
          include ../sections/articles-preview/2019-12-28
          include ../sections/articles-preview/2019-12-27
          include ../sections/articles-preview/2019-12-18
          include ../sections/articles-preview/2019-12-16
        //end blog-articles
    //end content
