extends ../_template

block variables
  - var title       = 'My CV | Odinokun.com'
  - var description = 'My CV | Odinokun.com'
  - var ogtitle     = 'My CV | Odinokun.com'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap
    include ../sections/aside

    //begin content
    section.main.cv-page
      include ../elements/burger

      //begin page-header
      .page-header
        .container
          .page-header__title
            h1.page-header__title.page-title My CV
      //end page-header

      .cv
        .container
          //begin cv__left
          .cv__left
            .cv__ava
              img(src="assets/img/ava.jpg" alt="Dmitry Gordienko")
            .cv__info.cv-info
              .cv-info__row
                span.cv-info__title Name
                span.cv-info__descr Dmitry Gordienko
              .cv-info__row
                span.cv-info__title Position
                span.cv-info__descr front-end developer
              .cv-info__row
                span.cv-info__title Employment
                span.cv-info__descr full time, part time, freelance
              .cv-info__row
                span.cv-info__title Location
                span.cv-info__descr Kyiv, Ukraine
              .cv-info__row
                span.cv-info__title Date of birth
                span.cv-info__descr 19-10-1978
              .cv-info__row
                span.cv-info__title Experience
                span.cv-info__descr freelance from 2014
              .cv-info__row
                span.cv-info__title Email
                span.cv-info__descr
                  a(href="mailto:odinokun@gmail.com") odinokun@gmail.com
              .cv-info__row
                span.cv-info__title Website
                span.cv-info__descr
                  a(href="http://odinokun.com/" target="_blank") http://odinokun.com
              .cv-info__row.cv-info__row--socials
                a(href="https://t.me/odinokun" target="_blank" rel="nofollow noopener noreferrer").cv-info__link
                  +svg('telegram')
                a(href="https://www.linkedin.com/in/dmitry-gordienko/" target="_blank" rel="nofollow noopener noreferrer").cv-info__link
                  +svg('in')
                a(href="https://github.com/Odinokun" target="_blank" rel="nofollow noopener noreferrer").cv-info__link
                  +svg('git')
              .cv-info__row
                a(href="assets/text/front-end_developer_Dmitry_Gordienko.pdf" target='_blank').btn.btn--dark Download CV
          //end cv__left

          //begin cv__right
          .cv__right
            //begin ABOUT
            h2.cv__title Dmitry Gordienko
            .cv__descr
              p I develop and optimize layouts for adaptive sites, also maintain existing projects. I always make sure to check the results of my work for cross-browser compatibility, download speed and validity.
              p
                |My list of completed projects includes 100+ sites performed at various levels of complexity. More information about some of them is available in
                =' '
                a(href="works.html") Works section
                =' '
                |and on my
                =' '
                a(href="https://github.com/Odinokun" target="_blank" rel="nofollow noopener noreferrer") Github page.
            h2.cv__title Open for Front-End Developer Position
            .cv__descr
              p
                i I consider both full time and part time office employment (Kyiv, Ukraine), remote cooperation is also possible.
            //end ABOUT

            //begin SKILLS
            h2.cv__title Skills
            .cv__descr
              ul.cv__list
                li
                  strong HTML5
                  =' '
                  |with
                  =' '
                  strong Pug
                  =' '
                  |(ex-Jade)
                li
                  strong Css3
                  =' '
                  | with
                  =' '
                  strong Scss
                li
                  strong JS
                  =' '
                  |(native & Jquery)
                li
                  strong React
                  =' '
                  |(beginner level)
            //end SKILLS

            //begin TOOLS
            h2.cv__title Tools that I use
            .cv__descr
              ul.cv__list
                li
                  strong Gulp
                  =' '
                  |and
                  =' '
                  strong Webpack
                li
                  strong Git
                  =' '
                  |and
                  =' '
                  strong Github
                li
                  strong Figma, Avocode, Adobe Photoshop, Adobe Illustrator
            //end TOOLS

            //begin LANGUAGES
            h2.cv__title Languages
            .cv__descr
              ul.cv__list
                li
                  strong Russian/Ukrainian
                  =' '
                  |(native)
                li
                  strong English
                  =' '
                  |(beginner)
            //end LANGUAGES

            //begin EDUCATION
            h2.cv__title Education
            p
              strong 2012
              =' '
              |- law degree (KUTEL)
            p
              strong 2016
              =' '
              |- Loftschool -
              =' '
              a(href="assets/img/certificates/2016-web-advanced-eng.pdf" target='_blank') Web Development for Advanced
            p
              strong 2018
              =' '
              |- Loftschool -
              =' '
              a(href="assets/img/certificates/2018-js-eng.pdf" target='_blank') Complete JavaScript Course
            //end EDUCATION
          //end cv__right
    //end content
