extends ../_template

block variables
  - var title       = 'Odinokun.com'
  - var description = 'Odinokun.com'
  - var ogtitle     = 'Odinokun.com'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap#main-wrap
    include ../sections/aside

    //begin content
    section.main.index
      include ../elements/burger
      include ../elements/scroll-2-top

      .index__bg
        +svg('logo-01')
        +svg('logo-02')
      .index__block
        h1.index__title#index__title Dmytro Hordiienko
        svg.index__filter
          filter#distortionFilter
            feturbulence(type='fractalNoise' baseFrequency='2.01 .01' numOctaves='5' seed='2' stitchTiles='noStitch' x='0%' y='0%' width='100%' height='100%' result='noise')
            fedisplacementmap(in='SourceGraphic' in2='noise' scale='0' xChannelSelector='R' yChannelSelector='B' x='0%' y='0%' width='100%' height='100%' filterUnits='userSpaceOnUse')

        h2.index__subtitle front-end developer
        .index__btn
          a(href="assets/text/frontend_developer_Dmytro_Hordiienko.pdf" target='_blank').btn.btn--light Download CV
    //end content
