extends ../_template

block variables
  - var title       = 'Last works | Odinokun.com'
  - var description = 'Last works | Odinokun.com'
  - var ogtitle     = 'Last works | Odinokun.com'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap#main-wrap
    include ../sections/aside

    //begin content
    section.main.works
      include ../elements/burger
      include ../elements/scroll-2-top

      //begin page-header
      .page-header
        .container
          .page-header__title
            h1.page-header__title.page-title My last works
      //end page-header

      .container
        //begin works__gallery
        .works__gallery
          include ../elements/works/work-01
          include ../elements/works/work-11
          include ../elements/works/work-12
          include ../elements/works/work-04
          //-include ../elements/works/work-07
          include ../elements/works/work-03
          include ../elements/works/work-10
          include ../elements/works/work-08
          include ../elements/works/work-06
          include ../elements/works/work-02
          include ../elements/works/work-05
          include ../elements/works/work-09
        //end works__gallery
    //end content
