extends ../_template

mixin works-gallery__item(pic, title)
  div(class="works-gallery__item works-gallery__item--" + pic)
    div(class="works-gallery__item-img" style='background-image: url("assets/img/temp/work-' + pic + '.jpg")')
    h3.works-gallery__top-title #{title}
    .works-gallery__item-info
      h3.works-gallery__item-info-title #{title}
      a(href="#").works-gallery__item-info-link
        +svg('magnific')
        span read more...
    .works-gallery__btns
      .works-gallery__btn html
      .works-gallery__btn css
      .works-gallery__btn js
      .works-gallery__btn react


block variables
  - var title       = 'Last works | Odinokun.com'
  - var description = 'Last works | Odinokun.com'
  - var ogtitle     = 'Last works | Odinokun.com'
  - var ogimage     = 'assets/img/social.jpg'

block content
  .main-wrap.works-wrap
    include ../elements/burger
    include ../sections/aside

    //begin content
    section.main.works
      //begin page-header
      header.page-header.works-header
        .container
          h1.page-header__title Last works
      //end page-header

      //begin works-body
      .page-body.works-body
        //begin works-gallery
        .works-gallery.works-gallery--first
          +works-gallery__item('01', 'My Best Work #01')
          +works-gallery__item('02', 'My Best Work #02')
          +works-gallery__item('03', 'My Best Work #03')
          +works-gallery__item('04', 'My Best Work #04')
          +works-gallery__item('05', 'My Best Work #05')
          +works-gallery__item('06', 'My Best Work #06')
        //end works-gallery

        //begin works-gallery
        .works-gallery.works-gallery--second
          +works-gallery__item('01', 'My Best Work #01')
          +works-gallery__item('02', 'My Best Work #02')
          +works-gallery__item('03', 'My Best Work #03')
          +works-gallery__item('04', 'My Best Work #04')
          +works-gallery__item('05', 'My Best Work #05')
          +works-gallery__item('06', 'My Best Work #06')
        //end works-gallery
      //end works-body

      //begin page-footer
      footer.page-footer#page-footer
        .container
          a(href="#").page-footer__more-btn#page-footer__more-btn more works...
      //end page-footer

    //end content
