
.article__header {
  padding: 50px 0 20px 0;
}

.article__title {
  font-family: $font-title;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 30px;
  @include max(768) {
    font-size: 30px;
  }
}

.article__origin {
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 5px;
}

.article__origin-text {
  font-size: 14px;
  display: block;
  margin-top: 3px;
  padding-right: 10px;
}

.article__origin-article {
  font-size: 19px;
  font-weight: 700;
  font-style: italic;
  display: block;
  margin-top: 3px;
  letter-spacing: 1.1px;
}

.article__origin-author {
  font-size: 19px;
  font-style: italic;
  display: block;
  margin-top: 3px;
}

.article__tags {
  display: flex;
  flex-wrap: wrap;
  padding-top: 15px;
}

.article__tag {
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
  margin-bottom: 5px;
  padding: 3px 10px 2px 12px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  opacity: .9;
  color: $dark;
  border: 1px solid $dark;
  border-radius: $radius !important;
  background-color: transparent;
}

.article-body {
  padding-bottom: 80px;
}
