.contacts {
  position: relative;
}

.contacts-map {
  position: relative;
  height: 100%;
  &::before {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    content: '';
    pointer-events: none;
    opacity: .6;
    background-color: $light;
  }
}

.contacts-item {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 500px;
  padding: 50px 20px;
  transform: translate(-50%, -50%);
  border: 1px solid $dark;
  border-radius: $radius;
  background-color: $light;
}

.contacts-item__title {
  font-family: $font-subtitle;
  font-size: 70px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
  margin-bottom: 40px;
  user-select: none;
  text-align: center;
  color: $dark;
}

.contacts-item__mail {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  text-decoration: none;
  &::before {
    position: absolute;
    right: 0;
    bottom: 2px;
    left: 0;
    width: 0;
    height: 2px;
    margin: auto;
    content: '';
    transition: width .5s;
    border-radius: 1px;
    background-color: $dark;
  }
  &:hover {
    &::before {
      width: 102%;
    }
    svg {
      animation: 1.2s ease-in-out infinite Shake;
    }
  }
  svg {
    flex: none;
    fill: $dark;
    width: 30px;
    height: 30px;
    margin-right: 10px;
    transition: fill .5s;
  }
  span {
    font-family: $font-subtitle;
    font-size: 30px;
    font-weight: 700;
    transition: .5s;
    color: $dark;
  }
}

.contacts-item__links {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;
  padding: 0;
  li {
    flex: none;
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.contacts-item__link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 16px;

  @include max(375) {
    margin: 0 8px;
  }

  &:hover {
    animation: 1.2s ease-in-out infinite Shake;
  }

  svg {
    fill: $dark;
    width: 100%;
    max-width: 25px;
    height: 100px;
    max-height: 25px;
    transition: fill .5s;
  }
}

.contacts-item__link--tw {
  svg {
    height: 35px;
  }
}

.contacts-item__link--fb {
  svg {
    width: 20px;
  }
}
